<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here 
    <bean class="com.love.beans.Employee" id="employee">
    	<property name="eid" value="45"/>
        <property name="name" value="Rohit"/>	
   	    <property name="city" value="Mumbai"/>	
    		
    </bean>-->
    <bean class="com.love.beans.Employee" id="pro">
    	<constructor-arg value="101"></constructor-arg>
    	<constructor-arg value="love"></constructor-arg>
    	<constructor-arg value="Alwar"></constructor-arg>
    </bean>
    <bean class="com.love.beans.Employee" id="employee1">
    	<constructor-arg value="102"></constructor-arg>
    	<constructor-arg value="kush"></constructor-arg>
    	<constructor-arg value="Alwar"></constructor-arg>
    </bean>
</beans>